* {
    margin: 0;
    padding: 0;
}

body {
    background: #1a1a1a;
    text-align: center;
    font-family: "Spline Sans Mono", monospace;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 400px;
    background: #2d2d2d;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.display {
    background: #0a0a0a;
    color: #ffffff;
    height: 80px;
    font-size: 32px;
    text-align: right;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;

}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 70px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    color: #fff;
}

button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.button-num {
    background: #505050;
}

.button-clear {
    background: #d4001a;
}

.button-delete {
    background: #505050;
}

.button-operator {
    background: #ff9500;
}

.button-equals {
    background: #00a651;
}

#button-zero {
    grid-column: span 2;
}